<div class="about-container">
  <h2>Σχετικά με εμάς</h2>
  <div class="about-section">
      <img src="assets/1619148651712.jpg" alt="Company Building" class="about-image">
      <p>Καλωσορίσατε στο Inaland Booking, την κορυφαία πλατφόρμα για κρατήσεις καταλυμάτων. Είμαστε αφοσιωμένοι στο να παρέχουμε την καλύτερη δυνατή εμπειρία στους χρήστες μας.</p>
  </div>
  <div class="about-section">
      <figure>
          <figcaption>Η ομάδα μας στο Inaland Booking</figcaption>
          <p class="team-description">Η ομάδα μας αποτελείται από αφοσιωμένους επαγγελματίες με πάθος για τα ταξίδια και την τεχνολογία. Συνεργαζόμαστε για να προσφέρουμε τις καλύτερες λύσεις για τους πελάτες μας.</p>
          <img src="assets/team.jpg" alt="Team Photo" class="about-image">
        </figure>
      <p>Η αποστολή μας είναι να διευκολύνουμε τις διαδικασίες εύρεσης και κράτησης καταλυμάτων, προσφέροντας μια εύχρηστη πλατφόρμα που συνδέει ταξιδιώτες με ξενοδόχους και ιδιοκτήτες καταλυμάτων.</p>
  </div>
  <div class="about-section">
      <p>Είτε ψάχνετε για ένα πολυτελές ξενοδοχείο, ένα παραθαλάσσιο διαμέρισμα, είτε ένα παραδοσιακό σπίτι στο βουνό, το Inaland Booking είναι εδώ για να σας βοηθήσει να βρείτε το ιδανικό κατάλυμα για τις ανάγκες σας.</p>
  </div>
</div>
