<div class="home-container">
    <h2>Καλωσορίσατε στο Inaland Booking</h2>
    <p>Επιλέξτε τον προορισμό σας και κάντε την κράτησή σας εύκολα και γρήγορα.</p>
    
    <!-- Φόρμα Αναζήτησης -->
    <form class="search-form">
      <label for="destination">Προορισμός:</label>
      <input type="text" id="destination" name="destination" placeholder="Προορισμός">
      
      <label for="check-in">Ημερομηνία άφιξης:</label>
      <input type="date" id="check-in" name="check-in">
      
      <label for="check-out">Ημερομηνία αναχώρησης:</label>
      <input type="date" id="check-out" name="check-out">
      
      <button type="submit">Αναζήτηση</button>
    </form>
    
    <!-- Προτεινόμενοι Προορισμοί ή Φωτογραφίες Καταλυμάτων -->
    <div class="destination-gallery">
      <h3>Δημοφιλείς Προορισμοί</h3>
      <div class="destination-card">
        <img src="assets/skiathos.jpg" alt="Εικόνα Προορισμού">
        <p>Σπίτι στη Σκιάθο</p>
      </div>
      
      <div class="destination-card">
        <img src="assets/kef..jpg" alt="Εικόνα Προορισμού">
        <p>Σπίτι στην Κεφαλονιά</p>
      </div>
      
      <!-- Εικόνες άλλων σπιτιών -->
      <div class="destination-card">
        <img src="assets/_3.jpg" alt="Σπίτι">
        <p>Σπίτι στην  Σκοπελο</p>
      </div>
      
      <div class="destination-card">
        <img src="assets/goldVilla.jpg" alt="Σπίτι">
        <p>Βιλλα με θέα στη θάλασσα</p>
      </div>
    </div>
    
    <!-- Κριτικές ή Αξιολογήσεις Χρηστών -->
    <div class="reviews-section">
      <h3>Αξιολογήσεις Χρηστών</h3>
      <div class="review">
        <p>Πελάτης Α: "Εξαιρετικός προορισμός, εξυπηρετικό προσωπικό, θα ξαναπάω σίγουρα!"</p>
      </div>
      
      <div class="review">
        <p>Πελάτης Β: "Πολύ καθαρό κατάλυμα με θέα στη θάλασσα, προτείνεται ανεπιφύλακτα!"</p>
      </div>
      
      <!-- Περισσότερες αξιολογήσεις -->
    </div>
    
    <!-- Ειδοποιήσεις Προσφορών ή Ειδικών Πακέτων -->
    <div class="special-offers">
      <h3>Ειδικές Προσφορές</h3>
      <div class="offer">
        <p>Κάντε κράτηση τώρα για το καλοκαίρι και κερδίστε έκπτωση έως και 20%!</p>
      </div>

    </div>
</div>
