<div class="details-container">
  <h2>Σχετικά με το Inaland Booking</h2>
  
  <div class="details-section">
    <h3>Αποστολή μας</h3>
    <p>Στο Inaland Booking, προσφέρουμε μια εξαιρετική εμπειρία κράτησης καταλυμάτων, συνδυάζοντας ποικιλία επιλογών με εύκολη πρόσβαση και αξιοπιστία.</p>
  </div>
  
  <div class="details-section">
    <h3>Υπηρεσίες</h3>
    <p>Καταστήστε τη διαδικασία κράτησης καταλύματος απλή και ευχάριστη μέσω της πλατφόρμας μας, προσφέροντας ποικιλία επιλογών για κάθε τύπο ταξιδιού.</p>
  </div>
  
  <div class="details-section">
    <h3>Η Ομάδα μας</h3>
    <p>Η ομάδα μας αποτελείται από αφοσιωμένους επαγγελματίες που αγαπούν τα ταξίδια και δουλεύουν σκληρά για να εξασφαλίσουν την καλύτερη δυνατή εμπειρία για τους πελάτες μας.</p>
  </div>
  
  <div class="details-section">
    <h3>Επικοινωνία</h3>
    <p>Για οποιαδήποτε ερώτηση ή πληροφορία, επικοινωνήστε μαζί μας στο <a href="tel:+302103456789">+30 210-3257421</a> ή μέσω email στο <a href="mailto:info@inalandbooking.com"> info&#64;Inalandbooking.com</a>.</p>
  </div>
</div>
